<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.633" targetFramework="net462" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net462" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net462" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net462" />
  <package id="ProjNet" version="1.2" targetFramework="net462" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
</packages>